<head>
	<style>
		*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
		img{
			height: 25vh;
			width: 100%;
		
		}
  
	#newbox{
		
    display: flex;
	align-items: center;
	flex-wrap: wrap;
	
	
	
    justify-content: space-evenly;
	
}

.container{
	border: 1px solid grey;
	width: 22%;
	margin: 2px;
	
	
	
}

@media(max-width:920px) {
    #newbox{
        width: 100%;
		
		  flex-direction: column;
        justify-content: center;
        align-items: center;
		
        
    }
	.container{
	border: 1px solid grey;
	width: 45%;
	
	
}
	
} 


	

	</style>
  

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css">
</head>
<body>
<!-- This is login and signup form created partial and inclued here -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title text-center text-dander" id="staticBackdropLabel">Log in & signup </h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div> 
			<div class="modal-body">
				<section id="login-signup">
					<!-- Pills navs -->
					<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
						<li class="nav-item" role="presentation">
							<a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login"
								role="tab" aria-controls="pills-login" aria-selected="true">Login</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register"
								role="tab" aria-controls="pills-register" aria-selected="false">Register</a>
						</li>
					</ul> 
					<!-- Pills navs -->

					<!-- Pills content -->
					<div class="tab-content">
						<div class="tab-pane fade show active" id="pills-login" role="tabpanel"
							aria-labelledby="tab-login">

							<!-- form login -->
							<form action="/login" method="POST">
								<div class="text-center mb-3">
									<p>Sign in with:</p>
									<button type="button" class="btn btn-danger btn-floating mx-1">
										<i class="fab fa-facebook-f"></i>
									</button>

									<button type="button" class="btn btn-danger btn-floating mx-1">
										<i class="fab fa-google"></i>
									</button>

									<button type="button" class="btn btn-danger btn-floating mx-1">
										<i class="fab fa-twitter"></i>
									</button>

									<button type="button" class="btn btn-danger btn-floating mx-1">
										<i class="fab fa-github"></i>
									</button>
								</div>

								<p class="text-center">or:</p>

								<!-- Email input -->
								<div class="form-outline mb-4">
									<input type="email" id="loginName" class="form-control" name="email" />
									<label class="form-label" for="loginName">Email</label>
								</div>

								<!-- Password input -->
								<div class="form-outline mb-4">
									<input type="password" id="loginPassword" class="form-control" name="password" />
									<label class="form-label" for="loginPassword">Password</label>
								</div>

								<!-- 2 column grid layout -->
								<div class="row mb-4">
									<div class="col-md-6 d-flex justify-content-center">
										<!-- Checkbox -->
										<div class="form-check mb-3 mb-md-0">
											<input class="form-check-input" type="checkbox" value="" id="loginCheck"
												checked="checked" />
											<label class="form-check-label" for="loginCheck">
												Remember me
											</label>
										</div>
									</div>

									<div class="col-md-6 d-flex justify-content-center">
										<!-- Simple link -->
										<a href="#!">Forgot password?</a>
									</div>
								</div>

								<!-- Submit button -->
								<button type="submit" class="btn btn-danger btn-block mb-4">Sign in</button>

								<!-- Register buttons -->
								<div class="text-center">danger
									<p>Not a member?
										<a href="#">Register</a>
									</p>
								</div>
							</form>
						</div>



						<div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">

							<!-- register from -->
							<form action="/register" method="POST">
								<div class="text-center mb-3">
									<p>Sign up with:</p>
									<button type="button" class="btn btn-danger btn-floating mx-1">
										<i class="fab fa-facebook-f"></i>
									</button>

									<button type="button" class="btn btn-danger btn-floating mx-1">
										<i class="fab fa-google"></i>
									</button>

									<button type="button" class="btn btn-danger btn-floating mx-1">
										<i class="fab fa-twitter"></i>
									</button>

									<button type="button" class="btn btn-danger btn-floating mx-1">
										<i class="fab fa-github"></i>
									</button>
								</div>

								<p class="text-center">or:</p>

								<!-- Name input -->
								<div class="form-outline mb-4">
									<input type="text" id="fname" class="form-control" name="fname" />
									<label class="form-label" for="registerName">Name</label>
								</div>

								<!-- Username input -->
								<div class="form-outline mb-4">
									<input type="text" id="lname" class="form-control" name="lname" />
									<label class="form-label" for="registerUsername">last name</label>
								</div>

								<!-- Email input -->
								<div class="form-outline mb-4">
									<input type="email" id="email" class="form-control" name="email" />
									<label class="form-label" for="registerEmail">Email</label>
								</div>

								<!-- Password input -->
								<div class="form-outline mb-4">
									<input type="password" id="password" class="form-control" name="password" />
									<label class="form-label" for="registerPassword">Password</label>
								</div>

								<!-- Repeat Password input -->
								<div class="form-outline mb-4">
									<input type="password" id="confirmpassword" class="form-control"
										name="confirmpassword" />
									<label class="form-label" for="registerConfirmPassword">Confirm password</label>
								</div>

								<!-- Checkbox -->
								<div class="form-check d-flex justify-content-center mb-4">
									<input class="form-check-input me-2" type="checkbox" value="" id="registerCheck"
										checked="checked" aria-describedby="registerCheckHelpText" />
									<label class="form-check-label" for="registerCheck">
										I have read and agree to the terms
									</label>
								</div>

								<!-- Submit button -->
								<button type="submit" class="btn btn-danger btn-block mb-3">Register</button>

							</form>
						</div>
					</div>
					<!-- Pills content -->
				</section>
			</div>
		</div>
	</div>
</div>

<div class="main-container" style=" position: sticky; top:0px; z-index: 1;">

	<!-- Navbar starts from here -->
	<nav id="navbar" class="shadow-sm p-3 mb-4 bg-body ">

		<!-- Navbar logo added here -->
		<div class="logo">
			<a href="/"><img src="/image/site-logo.png" alt="logo"></a>
			<span class="mx-4">airbnb</span>
		</div>

		<!-- This is middle searchbar of our website -->
		<div class="mid-nav shadow p-3  bg-body rounded-pill">

			<span>
				<a href="#">Anywhere</a>
			</span>
			<span>
				|
			</span>
			<span>
				<a href="#">Any Week</a>
			</span>
			<span>
				|
			</span>
			<span>Add Guests</span>
			<a class="search" href=""><i class="fa-solid fa-magnifying-glass"></i></a>

		</div>

		<!-- Right side of our navbar starts from here -->
		<div class="right-nav">

			<div class="host"><a class="text-dark" href="/host">become a host</a></div>
			<div class="earthlogo">
				<i class="fa-solid fa-globe fs-5"></i>
			</div>

			<!-- dropdown menu  -->
			<div class="dropdown">
				<a class="btn border-dark rounded-pill p-2" data-bs-toggle="dropdown" aria-expanded="false">
					<i class=" fs-6 fa-solid fa-bars"></i>
					<i class=" fs-6 fa-solid fa-user"></i>
				</a>

				<ul class="dropdown-menu">

					<li class="dropdown-item" style="cursor: pointer;" data-bs-toggle="modal"
						data-bs-target="#staticBackdrop">
						Log in/Sign up
					</li>

					<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item" href="/host">airbnb your home</a></li>
					<li><a class="dropdown-item" href="https://www.airbnb.co.in/help?audience=guest">help</a></li>
				</ul>
			</div>


		</div>

	</nav>

</div>




<!-- This is card that stores all hotels information this card is looped using foreach
       data get from mongodb atlas sampledatabase -->
{{!-- <section class="container">

	<div class="row gy-1">

		<div class=" col-12 col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up">
			<div class="card">
				<i class="fa-regular fa-heart"></i>
				<a href="/details/Soho Cozy, Spacious and Convenient"><img class="card-img "
						src="https://a0.muscache.com/im/pictures/f0ea4cba-c771-41b6-92c5-caa646edb513.jpg?im_w=1200"
						class="card-img-top" alt="image"></a>

				<div class="card-body">
					<span class="card-text location">
						<b>
							Hong Kong, Hong Kong Island, Hong Kong
						</b>
					</span>
					<span class="card-text text-start text-secondary">
						Soho Cozy, Spacious and Convenient
					</span>
					<span class="card-text price text-start">
						<b>₹ 11,989</b> night
					</span>

				</div>
			</div>
		</div>

		<div class=" col-12 col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up">
			<div class="card">
				<i class="fa-regular fa-heart"></i>
				<a href="/details/The LES Apartment"><img class="card-img "
						src="https://a0.muscache.com/im/pictures/miso/Hosting-580103554611229141/original/57942774-d17b-412f-ab09-d7077cdf0f56.jpeg?im_w=1200"
						class="card-img-top" alt="image"></a>

				<div class="card-body">
					<span class="card-text location">
						<b>
							New York, NY, United States
						</b>
					</span>
					<span class="card-text text-start text-secondary">
						The LES Apartment
					</span>
					<span class="card-text price text-start">
						<b>₹ 11,000</b> night
					</span>

				</div>
			</div>
		</div>

		<div class=" col-12 col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up">
			<div class="card">
				<i class="fa-regular fa-heart"></i>
				<a href="/details/Resort-like living in Williamsburg"><img class="card-img "
						src="https://a0.muscache.com/im/pictures/5f6bddac-3d43-4cec-9ca8-997520fb6165.jpg?im_w=1200"
						class="card-img-top" alt="image"></a>

				<div class="card-body">
					<span class="card-text location">
						<b>
							rooklyn, NY, United States
						</b>
					</span>
					<span class="card-text text-start text-secondary">
						Resort-like living in Williamsburg
					</span>
					<span class="card-text price text-start">
						<b>₹ 21,589</b> night
					</span>

				</div>
			</div>
		</div>

		<div class=" col-12 col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up">
			<div class="card">
				<i class="fa-regular fa-heart"></i>
				<a href="/details/Private Room (2)  in Guest House at Coogee Beach"><img class="card-img "
						src="https://a0.muscache.com/im/pictures/miso/Hosting-660462428027837296/original/518619bf-c3e0-47ed-a05f-1f549250ad15.jpeg?im_w=1200"
						class="card-img-top" alt="image"></a>

				<div class="card-body">
					<span class="card-text location">
						<b>
							Coogee, NSW, Australia
						</b>
					</span>
					<span class="card-text text-start text-secondary">
						Private Room (2) in Guest House at Coogee Beach
					</span>
					<span class="card-text price text-start">
						<b>₹ 22,500</b> night
					</span>

				</div>
			</div>
		</div>

		<div class=" col-12 col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up">
			<div class="card">
				<i class="fa-regular fa-heart"></i>
				<a href="/details/Footprint - Wilderness Experience | Cabin No.3"><img class="card-img "
						src="https://a0.muscache.com/im/pictures/9a9b3bfe-a620-4ee3-a44f-f028389bbd94.jpg?im_w=1200"
						class="card-img-top" alt="image"></a>

				<div class="card-body">
					<span class="card-text location">
						<b>
							India
						</b>
					</span>
					<span class="card-text text-start text-secondary">
						Footprint - Wilderness Experience | Cabin No.3
					</span>
					<span class="card-text price text-start">
						<b>₹ 19,999</b> night
					</span>

				</div>
			</div>
		</div>



		<div class=" col-12 col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up">
			<div class="card">
				<i class="fa-regular fa-heart"></i>
				<a href="/details/My home"><img class="card-img "
						src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2VwiQIYqNTUXl7IatCQ4EXZHtl8B1s5zbzPb2qVg71_zFj0fcEeTkZXiF&amp;s=10"
						class="card-img-top" alt="image"></a>

				<div class="card-body">
					<span class="card-text location">
						<b>
							pune
						</b>
					</span>
					<span class="card-text text-start text-secondary">
						My home
					</span>
					<span class="card-text price text-start">
						<b>₹ 12,300</b> night
					</span>

				</div>
			</div>
		</div>

	</div>
</section> --}}



{{!-- new data added --}}

<div id="newbox">
	
</div>


<!-- card ends here -->
<div class="bottom-footer">
	<footer
		class="homefooter bg-light text-center text-lg-start fixed-bottom shadow-custom w-100 d-flex justify-content-between ">
		<!-- Copyright -->
		<div class="p-2 ms-5">
			<span class="px-2"> © 2020 Copyright: </span>
			<span class="px-2">· Privacy</span>
			<span class="px-2">· Terms</span>
			<span class="px-2">· Sitemap</span>
			<span class="px-2">· Company details</span>
			<span class="px-2">· Destinations</span>
		</div>
		<div class="p-2" style="background-color: #ffffff">
			<span class="px-2"> English (IN)</span>
			<span class="px-2"> ₹ INR</span>
			<a class="me-5" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
				aria-controls="offcanvasExample">
				Support & resources
			</a>
		</div>
		<!-- Copyright -->
	</footer>

	<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-body">
			<div>
				<footer class="text-center text-lg-start bg-light text-muted">

					<section class=" border-bottom">
						<div class="container text-center text-md-start">
							<!-- Grid row -->
							<div class="row mt-1">
								<!-- Grid column -->
								<div class="col-md-3 col-lg-4 col-xl-3 mx-auto ">
									<!-- Content -->
									<h6 class="text-uppercase fw-bold ">
										Support
									</h6>
									<p>
										<a href="#!" class="text-reset">Help Center</a>
									</p>
									<p>
										<a href="#!" class="text-reset">AirCover</a>
									</p>
									<p>
										<a href="#!" class="text-reset">Cancellation options</a>
									</p>
									<p>
										<a href="#!" class="text-reset">Our COVID-19 Response</a>
									</p>
								</div>
								<!-- Grid column -->

								<!-- Grid column -->
								<div class="col-md-2 col-lg-2 col-xl-2 mx-auto ">
									<!-- Links -->
									<h6 class="text-uppercase fw-bold ">
										Community
									</h6>
									<p>
										<a href="#!" class="text-reset">Airbnb.org:disaster relief</a>
									</p>
									<p>
										<a href="#!" class="text-reset">Combating discrimination</a>
									</p>

								</div>
								<!-- Grid column -->

								<!-- Grid column -->
								<div class="col-md-3 col-lg-2 col-xl-2 mx-auto ">
									<!-- Links -->
									<h6 class="text-uppercase fw-bold ">
										Hosting
									</h6>
									<p>
										<a href="#!" class="text-reset">Airbnb your home</a>
									</p>
									<p>
										<a href="#!" class="text-reset">AirCover for Hosts</a>
									</p>
									<p>
										<a href="#!" class="text-reset">Explore hosting resources</a>
									</p>
									<p>
										<a href="#!" class="text-reset">Visit our community forum</a>
									</p>
								</div>
								<!-- Grid column -->

								<!-- Grid column -->
								<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 ">
									<!-- Links -->
									<h6 class="text-uppercase fw-bold ">Airbnb</h6>
									<p>
										<a href="#!" class="text-reset">Newsroom</a>
									</p>
									<p>
										<a href="#!" class="text-reset">Learn about new features
										</a>
									</p>
									<p>
										<a href="#!" class="text-reset">Letter from our founders</a>
									</p>
								</div>
								<!-- Grid column -->
							</div>
							<!-- Grid row -->
						</div>
					</section>
				</footer>
			</div>

		</div>
	</div>

</div>


<script>
async function getdata(){
 var Hoteldata = await fetch("http://localhost:3200/users")
 var data2 = await Hoteldata.json()
 apenddata(data2.Hotels)

}
getdata()

function apenddata(data){
   data.map(ele=>{
    let container1 = document.createElement("div")
	container1.classList.add("container")

	let card = document.createElement('div')
	card.classList.add("card")
	

	let image = document.createElement("img")
	image.src = ele.Image

	let container = document.createElement("div")
	container.classList.add("card-body")
	

	let heading = document.createElement("h5")
	heading.innerText=ele.Dist +`,`+ ele.Country

	let para = document.createElement('p')
	para.innerText= ele.Propertyname

	let price = document.createElement("b")
	price.innerHTML = `Price `+ele.Price +` ₹ ` + `night`

	
   container.append(heading,para,price)
	container1.append(card,image,container)
  document.getElementById("newbox").append(container1)
 
	console.log(ele)

   })
}
</script>
</body>
{{!-- <div class=" col-12 col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up">
	<div class="card">
		<i class="fa-regular fa-heart"></i>
		<a href="/details/The LES Apartment"><img class="card-img "
				src="https://a0.muscache.com/im/pictures/miso/Hosting-580103554611229141/original/57942774-d17b-412f-ab09-d7077cdf0f56.jpeg?im_w=1200"
				class="card-img-top" alt="image"></a>

		<div class="card-body">
			<span class="card-text location">
				<b>
					New York, NY, United States
				</b>
			</span>
			<span class="card-text text-start text-secondary">
				The LES Apartment
			</span>
			<span class="card-text price text-start">
				<b>₹ 11,000</b> night
			</span>

		</div>
	</div>
</div> --}}





{{!-- <div id="newBox">
<div class="card">
<img src="link" />
</div>
<b>country name</b>
<h4>price </h4>
</div> --}}